In [39]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.model_selection import train_test_split

### Define path to dataset

In [40]:
DATA_PATH = "../../datasets/Churn_Modelling.csv"

## Dataset Overview

In [41]:
df_base = pd.read_csv(DATA_PATH, sep=',')
df_base.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [42]:
cols = df_base.columns

In [43]:
df = pd.read_csv(DATA_PATH, sep=',')
# replace nan with -99
y = df['Exited']
df.drop(['RowNumber', 'CustomerId', 'Surname','Geography',
   'Gender','Exited'],axis=1,inplace=True)
#df = df.fillna(-99)
#df = df.fillna(-99)
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
data=scaler.fit_transform(df)
df1=pd.DataFrame(data)
# randomly split
X_train, X_test,Y_train,Y_test = train_test_split(df1, y,test_size=0.3, stratify=y, random_state=42)

In [44]:
Y_train.reset_index(drop = True);Y_test.reset_index(drop = True)

0       0
1       0
2       0
3       0
4       0
       ..
2995    0
2996    0
2997    0
2998    1
2999    0
Name: Exited, Length: 3000, dtype: int64

## Models

In [45]:
## Logistic Regression

In [46]:
np.random.seed(42)

from sklearn.linear_model import LogisticRegression

lr = LogisticRegression()

lr.fit(X_train,Y_train)

preds = lr.predict(X_test)

#roc_auc_score(Y_test,ypred_lr)

from sklearn.metrics import confusion_matrix

tn, fp, fn, tp = confusion_matrix(Y_test, preds).ravel()

p1 =(tp+fn)
sen = (tp/p1)

p2 = (tn + fp)
spec = tn/p2

p3 = sen + spec
auc_score = 0.5*p3

print(tn, fp, fn, tp)

print(sen)
print(spec)
print(auc_score)

2347 42 523 88
0.14402618657937807
0.9824194223524487
0.5632228044659134

In [47]:
## Decision Tree

In [48]:
np.random.seed(42)

from sklearn.tree import  DecisionTreeClassifier

logi = DecisionTreeClassifier()
logi.fit(X_train,Y_train)

preds =logi.predict(X_test)

from sklearn.metrics import confusion_matrix

tn, fp, fn, tp = confusion_matrix(Y_test, preds).ravel()

p1 =(tp+fn)
sen = (tp/p1)

p2 = (tn + fp)
spec = tn/p2

p3 = sen + spec
auc_score = 0.5*p3

print(tn, fp, fn, tp)

print(sen)
print(spec)
print(auc_score)

2032 357 315 296
0.4844517184942717
0.8505650899958141
0.667508404245043

In [49]:
## LGBM Classifier

In [50]:
np.random.seed(42)

from lightgbm import LGBMClassifier

# parameters = {'n_estimators': [25,50,100,150,175,200]}
# parameters = {'criterion' : ["gini", "entropy"],
#               'n_estimators': [25,50,100,150,175,200]}
# best_model=None
# best_score=0.0

# for ne in parameters['n_estimators']:
#     gb = LGBMClassifier(n_estimators=ne)
#     gb.fit(X_train,Y_train)
#     y_predg=gb.predict(X_test)

#     #accuracy=accuracy_score(Y_test,y_predg)
#     auc=roc_auc_score(Y_test,y_predg)
#     # print('Combination',c,ne)
#     #print('AUC',auc)

#     if auc > best_score:
#         best_model=gb
#         best_score=auc
        
gb = LGBMClassifier(n_estimators=150)
gb.fit(X_train,Y_train)
preds=gb.predict(X_test)


from sklearn.metrics import confusion_matrix

tn, fp, fn, tp = confusion_matrix(Y_test, preds).ravel()

p1 =(tp+fn)
sen = (tp/p1)

p2 = (tn + fp)
spec = tn/p2

p3 = sen + spec
auc_score = 0.5*p3

print(tn, fp, fn, tp)

print(sen)
print(spec)
print(auc_score)

2272 117 331 280
0.4582651391162029
0.9510255336961072
0.7046453364061551

In [51]:
## XGB Classifier

In [52]:
from xgboost import XGBClassifier
xgb = XGBClassifier()

xgb_model = xgb.fit(X_train,Y_train)
preds = xgb_model.predict(X_test)


from sklearn.metrics import confusion_matrix

tn, fp, fn, tp = confusion_matrix(Y_test, preds).ravel()

p1 =(tp+fn)
sen = (tp/p1)

p2 = (tn + fp)
spec = tn/p2

p3 = sen + spec
auc_score = 0.5*p3

print(tn, fp, fn, tp)

print(sen)
print(spec)
print(auc_score)

2251 138 339 272
0.4451718494271686
0.9422352448723316
0.6937035471497501